@import "tailwindcss";
@font-face {
  font-family: 'BenzinBold';
  src: url('/fonts/BenzinBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.BenzinBold {
  font-family: 'BenzinBold', sans-serif;
}

@font-face {
  font-family: 'BenzinSemibold';
  src: url('/fonts/BenzinSemibold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.BenzinSemibold {
  font-family: 'BenzinSemibold', sans-serif;
}
@font-face {
  font-family: 'BenzinRegular';
  src: url('/fonts/BenzinRegular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.BenzinRegular {
  font-family: 'BenzinRegular', sans-serif;
}
/* Rocket floating animation */
@keyframes bounceRocket {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(15px); }
}

.animate-bounceRocket {
  animation: bounceRocket 2s ease-in-out infinite;
}
  
