@import "tailwindcss";

@font-face {
  font-family: 'BenzinBold';
  src: url('/fonts/BenzinBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.BenzinBold {
  font-family: 'BenzinBold', sans-serif;
}

@font-face {
  font-family: 'BenzinSemibold';
  src: url('/fonts/BenzinSemibold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.BenzinSemibold {
  font-family: 'BenzinSemibold', sans-serif;
}
@font-face {
  font-family: 'BenzinRegular';
  src: url('/fonts/BenzinRegular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.BenzinRegular {
  font-family: 'BenzinRegular', sans-serif;
}

.brand-word {
  display: inline-block;
}

.brand-letter-group {
  display: inline-block;
  background-image: linear-gradient(90deg, #f45b25, #f45b25);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size 0.5s ease;
}

.brand-word:hover .brand-letter-group {
  background-size: 100% 100%;
}
/* Rocket floating animation */
@keyframes bounceRocket {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(15px); }
}

.animate-bounceRocket {
  animation: bounceRocket 2s ease-in-out infinite;
}

@keyframes belt-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes belt-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-belt-left {
  animation: belt-left 25s linear infinite;
}

.animate-belt-right {
  animation: belt-right 25s linear infinite;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(34px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 1.5s ease-out both;
}
